:root {
  --supaku: #6c1460;
  --white: #ffffff;
  --black: #000000;
  --pink: #dbc6d8;
}

@font-face {
  font-family: plus;
  src: url(source/fonts/MPLUS1-VariableFont_wght.ttf);
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  text-align: left;
  font-family: 'plus';
  color: var(--supaku);
  font-size: 2.5em;
  margin: 0;
  margin-left: 20px;
}

h3 {
  font-family: 'plus';
  font-size: 1.6em;
  font-weight: 450;
  color: var(--white);
  margin: 0;
  margin-left: 15px;
}

p {
  font-family: "plus";
  font-weight: 500;
}

nav {
  background-color: var(--supaku);
  width: auto;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

nav div {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

nav a {
  background-color: var(--white);
  color: var(--black);
  padding: 6px;
  padding-bottom: 8px;
  margin: 0;
  margin-left: 10px;
  border-radius: 20px;
  font-family: 'plus';
  text-decoration: none;
  outline: 3px;
  outline-style: solid;
  outline-color: var(--supaku);
  transition: 0.3s;
  z-index: 1;
}

nav a:hover {
  background-color: var(--pink);
}

.loadscreen {
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, var(--pink), var(--white), var(--pink));
}

.designheader {
  height: 90%;
  width: 100%;
  display: flex;
  flex-flow: row;
}

.designheader div {
  width: 40%;
  height: 100%;
}
.designheader iframe {
  width: 60%;
  height: 100%;
}

footer {
  background-color: var(--supaku);
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media (max-width: 900px) {
  h1 {
    margin: 0;
    text-align: center;
  }

  nav {
    flex-flow: column;
    position: unset;
    height: 70px;
    
  }

  nav div {
    margin-top: 10px;
    justify-content: space-around;
    width: 100%;
  }

  nav a {
    margin: 0;
  }
  
  .designheader {
    flex-flow: column;
    height: 75%;
  }

  .designheader div {
    width: 100%;
    height: 30%;
    justify-content: center;
  }
  .designheader iframe {
    width: auto;
    height: 70%;
  }

  footer {
    height: 100px;
    text-align: center;
  }
}